body{
    font-family: 'Bebas Neue', cursive;

}
h5{
    font-family: 'Dancing Script', cursive;
    text-align: initial;
    font-size: 30px;
    color: steelblue;
    padding: 0;
    margin: 0;
}
p{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 60px;
    color: slategrey;
}
h2{
    color: slategray;
}
#hello{
    color: tomato;
}
.img{
    width: 100%;
    height: 50%;

}
.half-width{
    width: 40%;
    padding-bottom: 40px;
    float: left;
}
.space{
    padding-left: 60px;
    padding-top: 150px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(170deg, salmon, tomato);
    padding:10px 25px;
    margin-top: 10px;
    color: white;
    text-transform: uppercase;
    box-shadow: 3px 5px 5px gray;

}
.lastet{
    overflow: hidden;
    float: left;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    font-size: 40px;
}
.left-padding{
    padding-left: 200px;
}
.partision{
    float: left;
    width: 25%;
    margin-right: 2%;
    padding-left: 15px;
    border-radius: 10px;
    background-color: whitesmoke;
    
}
#bg-img{
    background-image: linear-gradient(red red);

}
.bg-poster{
    
    background-repeat: no-repeat;
    float: left;
    margin-top: 100px;
    background-repeat: no-repeat;
}
#work{
    text-align: left;
    color: white;
    text-transform: uppercase;
}
.chat{
    float: right;
}
.identity{
    float: right;
    overflow: hidden;
    width: 20%;
    
    padding-right: 50px;
    margin-top: 60px;

}
.pic-align{
    background-position: center;
    border-radius: 15px;
    margin-top: 10px;
    margin-right: 10px;

}
#footer{
    margin-top: 50px;
    text-align: center;
}
.stay{
    text-align: center;
    width: 100%;
    overflow: hidden;
}
.icon{
    float: left;
    height: 1.5%;
    width: 3%;
    padding-left: 20px;
    

}
.we-are{
    font-size: 50px;
    
    text-align: center;
}

